@font-face {
  font-family: 'Delius Unicase';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../https@fonts.gstatic.com/s/deliusunicase/v26/845bnmeweiovt8bmgfszir_6mmlg.eot);
}
